@model List<Karakoç.Models.Calisan> // Modelinizi uygun şekilde ayarlayın
@{
    ViewData["Title"] = "CalisanList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    
}


<main class="main users chart-page" id="skip-target">
    <div class="container">
        <h2 class="main-title">Çalışanların Listesi</h2>


        <table class="table table-bordered table-primary">
            <thead>
                <tr>
                    <th>Çalışan</th>
                    <th>Kayıt Tarihi</th>
                    <th>Çıkış</th>
                    <th>Verilerini Sil</th>
                    <th>Yetki Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var calisan in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Calisan","Admin", new { id = calisan.CalısanId })">
                                @calisan.Name @calisan.Surname
                            </a>
                        </td>
                        <td>@calisan.KayıtTarihi?.ToString("dd.MM.yyyy")</td>
                        <td> <a class="btn btn-warning">İş Çıkışını Yap</a></td>
                        <td> <a href="~/Admin/calisanDelete/@calisan.CalısanId" class="btn btn-danger">Kullanıcıyı Sil</a></td>
                        <td>
                            <form>
                            <input type="number" max="4" min="1" name="deger" value="@calisan.Authority" />
                            <button class="btn btn-info" type="submit">Yetki</button>
                            </form>
                            
                        </td>

                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</main>
