@model Karakoç.Controllers.AdminController.OdemelerViewModel
@{
    ViewData["Title"] = "Odemeler";
    Layout = "~/Views/Shared/_KarakocLayout.cshtml";
}

<h1>Odemeler</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>İsim Soyisim</th>
            <th>Tarih</th>
            <th>Açıklama</th>
            <th>Tutar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var odeme in Model.Odemeler)
        {
            <tr>
                <td>@odeme.Calisan.Name @odeme.Calisan.Surname</td>
                <td>@odeme.Tarih.ToString("dd.MM.yyyy")</td>  @* Sadece tarihi göster *@
                <td>@odeme.Description</td>
                <td>@($"{odeme.Amount} ₺")</td>  @* Tutarın yanına TL işareti ekleniyor *@
            </tr>
        }
    </tbody>
</table>
<h3>Toplam Tutar: @($"{Model.ToplamTutar} ₺")</h3>  @* Toplam tutarı göster *@