@model List<Karakoç.Models.Odemeler>

@{
    ViewData["Title"] = "OdemeGor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main class="main users chart-page" id="skip-target">
    <div class="container">
        <h2 class="main-title">Yapılan Ödemeler</h2>
        <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
            </div>



            <div class="row">
                <div class="col-lg-9">

                    <div class="">
                        <div class="">


                            <table class="table table-bordered table-primary">
                                <thead>
                                    <tr>
                                        <th>Çalişan</th>
                                        <th>Ödeme Tarihi</th>
                                        <th>Açıklama</th>
                                        <th>Miktar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        decimal toplamMiktar = 0;
                                        foreach (var odeme in Model)
                                        {
                                            <tr>


                                                <td>@odeme.Tarih.ToString("dd.MM.yyyy")</td>
                                                <td>@odeme.Calisan.Name @odeme.Calisan.Surname</td>
                                                <td>@odeme.Description</td>
                                                <td>@odeme.Amount.ToString("C")</td>
                                            </tr>
                                            toplamMiktar += odeme.Amount;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"><strong>Toplam</strong></td>
                                        <td><strong>@toplamMiktar.ToString("C")</strong></td>
                                    </tr>
                                </tfoot>
                            </table>



                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<script>
    // Gece-Gündüz Temasını Değiştir
    document.querySelector('.theme-switcher').addEventListener('click', function () {
        // Table öğesini seçiyoruz
        const table = document.querySelector('.table');

        // Light moddaysa Dark moda, Dark moddaysa Light moda geçiş yapar
        if (table.classList.contains('table-dark')) {
            table.classList.remove('table-dark');
            table.classList.add('table-primary');
        } else {
            table.classList.remove('table-primary');
            table.classList.add('table-dark');
        }
    });

</script>
